// This is your framework's main stylesheet. Use it to import all default modules.
@import "compass/css3";

@mixin transition($elements, $speed, $eff) {
	-webkit-transition: $elements $speed $eff;
	-moz-transition: $elements $speed $eff;
	-ms-transition: $elements $speed $eff;
	-o-transition: $elements $speed $eff;
	transition: $elements $speed $eff;
}

@mixin button-alert() {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;

	background-color: #e15050;
	color: #bc4040;
	border:1px solid #e15050;
	display:inline-block;
	font-size:16px;
	padding:5px 15px;
	position:relative;
	@include transition(all, 0.3s, ease);
	&:hover{
		color:#f3baba;
		 border-color: #bf4646;
		@include box-shadow(red 0 0 15px, #bf4646 0px 0px 10px 2px inset);
		@include text-shadow(#bc4040 1px 1px 0);
		padding:8px 18px;
	}
}